*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(15, 15, 15);
    color: azure;
    font-size: 15px;
}

header{
    
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.ul{
    font-size: 17;
    list-style: none;
    display: inline-flex;
    gap: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 50px;
}

.p{
    display: flex;
    font-size: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 300px;
    cursor: pointer;
}

.mundo{
    display: flex;
    width: 90px;
    height: auto;
    border-radius: 100px;
    cursor: pointer;
}
nav{
    list-style: none;
    display:inline-flex;
}

li:hover{
    transform: scale(1.2);
}
li{
    cursor: pointer;
}


h1{
    padding: 12px;
    margin: 20px;
    text-align: center;
    cursor: pointer;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;  
    margin-top: 33px;
    margin-bottom: 33px;
}
iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 33px;
    margin-bottom: 33px;
}
.messichiquito{
    width: 400px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.texto{
    margin-left: 80px;
    margin-right: 80px;
    padding: 10px;
    font-size: 20px;
}

h2{
    text-align: center;
    margin: 21px;
    font-size: 25px;
    margin: 30px;
}

footer{
    background-color: black;
    display: flex;
     padding: 10px;
    justify-content: center;
    align-items: center; 
     
    
}

.fooy{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.foot{
    height: 30px;
}

.ulfoot{
    display: flex;
    flex-direction: column;
    gap: 70px;
    list-style: none;
}

.america{
    width: 400px;
    padding: auto;
}

