*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(15, 15, 15);
    color: azure;
    font-size: 0.938em;
}

header{
    
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.938em;
}

.ul{
    font-size: 17;
    list-style: none;
    display: inline-flex;
    gap: 0.938em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 3.125em;
}

.p{
    display: flex;
    font-size: 2.813em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 5.75em;
    cursor: pointer;
}

.mundo{
    display: flex;
    width: 5.625em;
    height: auto;
    border-radius: 6.25em;
    cursor: pointer;
}
nav{
    list-style: none;
    display:inline-flex;
}

li:hover{
    transform: scale(1.2);
}
li{
    cursor: pointer;
}


h1{
    padding: 0.75em;
    margin: 1.25em;
    text-align: center;
    cursor: pointer;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;  
    margin-top: 2.063em;
    margin-bottom: 2.063em;
}
iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.063em;
    margin-bottom: 2.063em;
}
.messichiquito{
    width: 25em;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.texto{
    margin-left: 5em;
    margin-right: 5em;
    padding: 0.625em;
    font-size: 1.25em;
}

h2{
    text-align: center;
    margin: 1.313em;
    font-size: 1.563em;
    margin: 1.875em;
}

footer{
    background-color: black;
    display: flex;
     padding: 0.625em;
    justify-content: center;
    align-items: center; 
     
    
}

.fooy{
    display: flex;
    flex-direction: column;
    padding: 0.625em;
}

.foot{
    height: 1.875em;
}

.ulfoot{
    display: flex;
    flex-direction: column;
    gap: 4.375em;
    list-style: none;
}

.america{
    width: 25em;
    padding: auto;
}

